@import "/nix/store/pnndixxiifidqwm4hxil4cr0l1f937v1-source/themes/mocha.css";

@define-color hover @blue;

@define-color module-foreground @subtext0;
@define-color module-background @base;

@define-color tooltip-border @overlay0;
@define-color tooltip-background @crust;

@define-color workspace @surface0;
@define-color workspace-active @overlay0;
@define-color workspace-urgent @orange;

* {
  font-size: 16px;
  font-family: "Recursive Sans Casual Static";
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  all:unset;
}

tooltip {
  border: 2px solid @tooltip-border;
  border-radius: 8px;
  background: @tooltip-background;
}

tooltip label {
  padding: 4px 8px;
  color: @subtext0;
}

/*.modules-left, .modules-right {*/
#pulseaudio, #workspaces, #clock {
  border-radius: 12px;
  color: @module-foreground;
  background: alpha(@module-background, .6);
  padding: 4px 8px;
}

#workspaces button {
  border: none;
  color: @workspace;
  min-width: 4px;

  transition-property: color;
  transition-duration: 0.1s;
  min-height: 4px;
}

#workspaces button:hover {
  background: none;
  color: @hover;
}

#workspaces button box {
  min-width: 4px;
  min-height: 4px;
  padding: 0px 2px;
}

#workspaces button.urgent {
  color: @workspace-urgent;
}

#workspaces button.active {
  color: @workspace-active;
}

#clock.date {
  margin-right: 8px;
}
