@import "/nix/store/pnndixxiifidqwm4hxil4cr0l1f937v1-source/themes/mocha.css";

@define-color active @blue;
@define-color background @crust;
@define-color border @overlay0;

@define-color clock-foreground @subtext0;

@define-color tooltip-border @overlay0;
@define-color tooltip-background @mantle;

@define-color workspace @surface0;
@define-color workspace-active @overlay0;
@define-color workspace-urgent @orange;

* {
  font-size: 16px;
  font-family: "Recursive Sans Casual Static";
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  background: transparent;
}

tooltip {
  border: 2px solid @tooltip-border;
  border-radius: 8px;
  background: @crust;
}

tooltip label {
  padding: 4px 8px;
  color: @subtext0;
}

.modules-left, .modules-right {
  border: 2px solid @border;
  border-radius: 8px;
  background: @tooltip-background;
  padding: 8px;
}

#workspaces button {
  border: none;
  border-radius: 10px;
  color: @overlay0;
  font-size: 0px;
  min-width: 4px;
  margin-bottom: 4px;

  transition-property: background-color;
  transition-duration: 0.1s;
  background: @workspace;
  min-height: 4px;
}

#workspaces button:last-child {
  margin-bottom: 0px;
}

#workspaces button box {
  min-width: 4px;
  min-height: 4px;
}

#workspaces button.urgent {
  background-color: @workspace-urgent;
}

#workspaces button.active {
  background-color: @workspace-active;
}

#clock {
  color: @clock-foreground;
}
